<hr><br>
<div id="main" class="text-center">
	<h2>{{ i18n "support" }}</h2>
  <div class="row gutters">
  	<div class="col col-4 item">
       <h3>Liberapay</h3>
       <p><a href="https://liberapay.com/diogo/donate">{{ i18n "donate" }}</a>{{ i18n "main-dev" }}
       <a href="https://www.diogo.site/support">Diogo Cordeiro</a>, {{ i18n "with" }} Liberapay</p>
    </div>
    <div class="col col-4 item">
       <h3>{{ i18n "merchandising" }}</h3>
       <p>{{ i18n "t-shirt" }}<a
          href="https://hackersatporto.teemill.com/collection/gnu-social/">Hackers at Porto Clothing</a>
       </p>
    </div>
    <div class="col col-4 item">
      <h4>Logos</h4>
      <p><a href="/zip/logos.tar.gz">gs-logos.tar.gz</a> (14.2 kB)</p>
    </div>
   </div>
   <footer class="footer">
      <div class="footer-text">
         <p class="left">Copyright 2010-2019 <a href="https://fsf.org">Free Software Foundation</a>, Inc.
            {{ i18n "licensed-under" }} <a href="https://creativecommons.org/licenses/by-sa/4.0">CC-BY-SA</a> {{ i18n "license" }}.
         </p><p><a href="https://notabug.org/susdiv/gnusocial.network">{{ i18n "mantained" }}</a> {{ i18n "by" }} <a href="https://dalme.net">DalmeGNU</a>.
            {{ i18n "follow" }} <a href="https://gnusocial.cc/dalme">@dalme</a>.
         </p>
         <nav>
            <ol><a href="/">English</a> -</ol>
            <ol><a href="/es">Español</a> -</ol>
            <ol><a href="/gl">Galego</a> -</ol>
            <ol><a href="/pt">Português</a></ol>
         </nav>
      </div>
   </footer>
   <br>
</div>