<header>
  <nav class="gnu-nav">
     <a href="https://gnu.org/gnu/gnu.html">{{ i18n "about-gnu" }}</a>
     <a href="https://gnu.org/philosophy/philosophy.html">{{ i18n "philosophy" }}</a>
     <a href="https://gnu.org/licenses/licenses.html">{{ i18n "licenses" }}</a>
     <a href="https://gnu.org/education/education.html">{{ i18n "education" }}</a>
     <a href="https://gnu.org/software/software.html">{{ i18n "software" }}</a>
     <a href="https://gnu.org/doc/doc.html">{{ i18n "documentation" }}</a>
     <a href="https://gnu.org/help/help.html">{{ i18n "help-gnu" }}</a>
     <a class="join-fsf" href="https://www.fsf.org/associate/support_freedom">{{ i18n "join-fsf" }}</a>
  </nav>
</header>
<div id="gnu-logo">
  <a href="/"><img alt="Baseline" height=48 src="{{ "/img/gnu/2.png" | relURL }}" width=390></a>
</div>   